<h1>Products of the Month</h1>

<div class="container">
  <div class="row">
    <%= render 'products/search' %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>title</th>
      <th>Description</th>
      <% if current_user %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |pro| %>
      <tr>
        <td><%= pro.title %></td>
        <td><%= pro.description %></td>
        <% if current_user %>
          <td><%= link_to 'Delete', product_path(pro),
              method: :delete,:data => { :confirm => 'Are you sure?' },
              :class => 'btn btn-xs btn-danger' %>
              <%= link_to 'Details', product_path(pro),
              class: 'btn btn-xs btn-success' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
