<h1>Products of the Month</h1>

<%= link_to 'home page', root_path %>
<%= render 'products/search' %>
<% @products.each do |product| %>
  <p><%= product.title %></p>
  <p><%= product.description%></p>
  <p><% product.images.each do |image| %>
    <%= image_tag(image) %>
    <% end %>
  </p>
  <p><%=link_to 'Detail', product_path(product) %></p>
<% end %>
