<h1 align="center">Products of the Month</h1>

<div class="container pt-3 p-3 my-3 border">
  <div class="row">
    <%= render 'products/search' %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>title</th>
      <th>Description</th>
      <% if current_user %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |pro| %>
      <tr>
        <td><%= pro.title %></td>
        <td><%= pro.description %></td>
        <% if user_signed_in? && current_user == pro.user %>
          <td><%= link_to 'Delete', product_path(pro),
                  method: :delete,:data => { :confirm => 'Are you sure?' },
                  :class => 'btn btn-xs btn-danger' %>
          </td>
        <% end %>
        <td>
          <%= link_to 'Details', product_path(pro), class: 'btn btn-xs btn-success' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
