<h1> new product </h1>
<% if current_user %>
  <div>
    <%= form_with model: @product do |form| %>
      <p>
        <%= form.label :title %>
        <%= form.text_field :title %>
      </p>
      <p>
        <%= form.label :description %>
        <%= form.text_area :description %>
      </p>
      <p>
        <%= form.label :image %>
        <%= form.file_field :image %>
      </p>
      <p>
        <%= form.submit %>
      </p>
    <% end %>
  </div>
<% end %>
