<h1 align="center">show page </h1>

<div align = "center">
  <p>Title:
    <%= @product.title %>
  </p>
  <p>Description:
    <%= @product.description %>
  </p>
  <p>
    <% @product.images.each do |image| %>
      <%= image_tag(image) %>
    <% end %>
  </p>
</div>

<h2 align= 'center'> ADD REVIEW </h2>
  <div align= 'center' >
    <%= render 'reviews/form'%>
  </div>

<h3 align='center'>Added Reviews</h3>
<div align ='center'>
  <%= render 'reviews/review'%>
</div>

