<h1 align="center">show page </h1>

<div class="border border-success">
  <div class="">Title:
    <%= @product.title %>
  </div>
  <p>Description:
    <%= @product.description %>
  </p>
  <p>
    <% @product.images.each do |image| %>
      <%= image_tag(image) %>
    <% end %>
  </p>
</div>

<h2 align= 'center'> ADD REVIEW </h2>
<div align= 'center' >
  <%= render 'reviews/form' %>
</div>

<h3 align='center'>Added Reviews</h3>
<div align ='center' id ='reviews_product'>
  <% @product.reviews.ordered.each do |review| %>
    <p id="user_review"><%=review.user_review %>
  <% end %>
</div>

