<h1 align="center">show page </h1>

<div class="border border-success">
  <div class="">Title:
    <%= @product.title %>
  </div>
  <p>Description:
    <%= @product.description %>
  </p>
  <p>
    <% @product.images.each do |image| %>
      <%= image_tag(image) %>
    <% end %>
  </p>
</div>

<h2 align= 'center'> ADD REVIEW </h2>
<div align= 'center' >
  <%= render 'reviews/form' %>
</div>

<h3 align = 'center'>Added Reviews</h3>
<div align = 'center' id = 'reviews_product'>
  <% @product.reviews.ordered.each do |review| %>
    <div id="user_review"><%= review.user_review %></p>
      <% if user_signed_in? && (current_user == review.user || @product.user) %>
      <p><%= link_to 'Delete', review_path(review), method: :delete,
             data: { confirm: "are you sure", remote: true } %></p>
      <p><%= link_to 'edit', edit_review_path(review) %></p>
      <% end %>
    </div>
  <% end %>
</div>

